SoapConsumeEksame/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SoapServiceEksamensTest" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SoapServiceEksamensTest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Catch" nillable="true" type="tns:Catch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCatch" nillable="true" type="tns:ArrayOfCatch" />
  <xs:complexType name="Catch">
    <xs:sequence>
      <xs:element minOccurs="0" name="art" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="navn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uge" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Catch" nillable="true" type="tns:Catch" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>